.button_container {
	margin: 50px auto 0;
}
.btn {
	display: block;
	margin: 0 auto;
	padding: 10px 20px;
	font-size: 30px;
	color: red;
}

.response {
	width: 50vw;
	margin: 50px auto 0;
	font-size: 20px;
	text-align: center;
}
